<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>
      Thanks for signing up for updates from #Luv. We're planning to launch our socially-conscious ecommerce site in early 2015, and we'll be in touch soon with details about the artists we're collaborating with, the charities we're supporting, and the products in the first collection. 
    </p>
    <p>
      Until then please follow us on Facebook and Twitter (make sure to link these to the pages), and email tracey@luvperiod.ca if you have any questions or you want to get involved.
    </p>
  </body>
</html>