%h1.charity
  Global View
%h4
  CHILD POVERTY
%p.charity
  According to UNICEF, 25,000 children die each day due to poverty. Around 27-28 percent of all children in developing countries are estimated to be underweight or stunted. The two regions that account for the bulk of the deficit are South Asia and sub-Saharan Africa. Some 1.1 billion people in developing countries have inadequate access to water, and 2.6 billion lack basic sanitation. Almost two in three people lacking access to clean water. Some 1.8 million child deaths each year as a result of diarrhea. For the 1.9 billion children from the developing world, there are: 640 million without adequate shelter (1 in 3), 400 million with no access to safe water (1 in 5) and 270 million with no access to health services (1 in 7). 10.6 million died in 2003 before they reached the age of 5 (same as children population in France, Germany, Greece and Italy.) 1.4 million die each year from lack of access to safe drinking water and adequate sanitation. 2.2 million children die each year because they are not immunized. Millions of parents in developing countries must daily cope with the fact that their children may not survive the first critical years of life; in many cases, the diseases that threaten their children’s lives are preventable. 
%h4
  LIFE AS REFUGEES
%p.charity
  Of the 50 million refugees and displaced people in the world, approximately half are children. War is the primary factor in the creation of child refugees. It is also a principle cause of child death, injury, and loss of parents. In the last decade, war has killed more than 2 million children, wounded another 6 million, and orphaned about 1 million. Children also flee their homes because they fear various forms of abuse such as rape, sexual slavery, and child labor. Circumstances of birth also play a role in depriving children of a legal home. Each year 40 million children are not registered at birth, depriving them of nationality and a legal name. 

%h4
  LACK OF ACCESS TO EDUCATION
%p.charity
  More than 100 million children do not have access to school. Of the children who enroll in primary school, over 150 million drop out, while user fees, including levies, are still charged for access to education in 92 countries and that such charges have impact on excluding girls. 77 million children worldwide are not able to go to school due to lack of funds. For socially disadvantaged segments of the population like poor inhabitants of cities, AIDS orphans and the physically challenged, any access to education is often particularly difficult to obtain. The consequence of this lack of access to education is that 15 percent of those adolescents between 15 and 24 in third world countries are illiterate. 

%h4
  CHILD LABOR

%p.charity
  An estimated 211 million children between the ages of 5 and 14 are working around the world, according to the International Labor Organization. Of these, 120 million children are working full time to help support their impoverished families. There are millions of children whose labor can be considered forced, not only because they are too young to choose to work, but also because they are, in fact, actively coerced into working. These include child bonded laborers — children whose labor is pledged by parents as payment or collateral on a debt — as well as children who are kidnapped or otherwise lured away from their families and imprisoned in sweatshops or brothels. In addition, millions of children around the world work unseen in domestic service — given or sold at a very early age to another family.

%h4
  CHILD PROSTITUTION
%p.charity
  In Thailand, NGOs have estimated that up to a third of prostitutes are children under 18. A study by the International Labor Organization on child prostitution in Vietnam reported that incidence of children in prostitution is steadily increasing and children under 18 make up between 5 percent and 20 percent of prostitution depending on the geographical area. In the Philippines, UNICEF estimated that there are 60,000 child prostitutes and many of the 200 brothels in the notorious Angeles City offer children for sex. In India as many as 200,000 Nepali girls, many under the age of 14, have been sold into red-light districts. Nepalese girls, especially virgins, are favored in India because of their fair skin and young looks. Every year about 10,000 Nepalese girls, most between the age of nine and 16, are sold to brothels in India. In El Salvador, one-third of the sexually exploited children between 14 and 17 years of age are boys. The median age for entering into prostitution among all children interviewed was 13 years. 

%h4
  INTERNET CHILD PORNOGRAPHY
%p.charity
  The internet is a virtual playground for child predators. It is a place that operates largely outside of the law. While trading in pedophile pornography is illegal, lack of adequate funding means law enforcement officials are able to investigate just two percent of their leads. Also, according to Interpol statistics, only one-half of one percent are ever prosecuted. 

%h4
  TRAFFICKING AND SLAVERY
%p.charity
  Trafficking is the fastest growing means by which people are forced into slavery. It affects every continent and most countries including North America. Currently, children are trafficked from countries such as Bangladesh, Pakistan, Sudan and Yemen to be used as camel jockeys in the UAE. Furthermore, Anti-Slavery International also has evidence that children are also being trafficked to be used as camel jockeys in other Gulf states including Kuwait, Qatar, Oman, and also internally in Sudan. The use of children as jockeys in camel racing is itself extremely dangerous and can result in serious injury and even death. Some children are also abused by the traffickers and employers, for example by depriving them of food and beating them. The children’s separation from their families and their transportation to a country where the people, culture and usually the language are completely unknown leaves them dependent on their employers and de facto forced laborers. 

%h4
  MILITARY USE OF CHILDREN
%p.charity
  Around the world, children are singled out for recruitment by both armed forces and armed opposition groups, and exploited as combatants. Approximately 250,000 children under the age of 18 are thought to be fighting in conflicts around the world, and hundreds of thousands more are members of armed forces who could be sent into combat at any time. Although most child soldiers are between 15 and 18 years old, significant recruitment starts at the age of 10 and the use of even younger children has been recorded. 



%h1.charity
  North American View
%h4
  CHILD POVERTY
  
%p.charity
  The federal poverty level is $22,050 for a family of four. This equates to 21% of all children (15 million children) are considered in poverty. Just to cover basic expenses for a family of four you would need to have a salary of $45,000. This means that nearly 50% of our children are living in poverty. Half of those kids receive no government assistance because their parents earned more than $22,050 that year. According to the National Center for Children in Poverty (NCCP), that poverty is the single greatest threat to children’s well-being. Poverty impedes learning and contributes to social and behavioral problems. 

%h4
  CHILD ABUSE
%p.charity
  Childhood abuse and neglect is a huge problem in North America.  It is estimated that 1 in 3 females will be a victim of sexual abuse and 1 in 6 males.  Over 3 million children are reported abused and/or neglected.  Research has shown that a range of psychiatric symptoms and disorders in child-adulthood are associated with early trauma, including depression, post-traumatic stress disorder, borderline personality disorder, substance us, suicidality, self-mutilation, somatization, sexual behavior problems, dissociative disorders and learning disorders.  Moreover, abusive childhood experiences have been associated with increased risks of violent offending and being a victim of violence.  Childhood abuse and neglect is a major public health problem and cannot only dramatically affect the quality of life of many individuals, but also is enormously expensive for society at large.

%h4
  SINGLE PARENT HOUSEHOLDS
%p.charity
  The problems begin at home.  Today, 14 million single parents are responsible for 28 million children. Raising a child is difficult enough in a two parent home, especially in tough economic conditions. The situation is even direr when there is only one parent. Economically, a single parent is likely to bring less income home. This equates to fewer opportunities for such vital necessities as education. Trying to make ends meet also takes time – time that is spent away from children who need a parent’s guiding/influence. Absent a parent’s diligent guidance, children become subject to higher dropout rates, higher risk of dangerous sexual behaviors and pregnancies, higher chances of drug and alcohol abuse –etc. It truly takes a village to raise a child.
%h4
  ADDICTIONS
%p.charity
  There was a time in cinematic history where virtually every actor/actress was portrayed on screen with a cigarette in hand. Smoking, it was implied, was cool. As a result everyone was doing it, including kids. Well, as awareness to the danger of smoking increased, “cool” images of smoking disappeared. Unfortunately, the same can’t be said about drugs and alcohol. These vices are staples in everyday media. Simply, drinking and using drugs is shown as being cool. The numbers bear the tale. 21% of high school seniors say they get high and 41% of the same group report drinking alcohol. Our kids are literally moving around in an intoxicated daze. Immature behavior is then amplified due to being under the influence. Drunk driving, poor grades and attendance, anti-social and violent behavior and the list goes on.

%h4
  VIOLENCE IN SCHOOLS
%p.charity
  A child’s education is the foundation from which he or she will be able to go forth out into the world and build a life. Schools play a major role in this endeavor, and therefore it is reasonable to expect that these places of learning would be safe havens for the children while they are preparing for adulthood. Unfortunately, this is not always the case. In many instances, especially in low income, urban settings, schools can be a war zone. We are not talking about minor bullying, but rather serious violence. Consider that in the last decade 284 kids were murdered due to school violence – these were shootings, stabbings, fighting and suicides. Growing up is tough enough without having to be worried about being killed while going to math class.

%h4
  CYBER BULLYING

%p.charity
  Email, Cell phones and social media have created new platforms for violence.  Like all forms of bullying, cyberbullying causes psychological, emotional and physical stress.  Each person’s response to being bullied is unique, but research has shown some general tendencies. StopBullying reports that youth who are bullied have a higher risk of depression and anxiety. Symptoms may include: increased feelings of sadness and loneliness, changes in sleep and eating patterns, loss of interest in activities, more health complaints.  Youth who are bullied are more likely to struggle personally and at school. They may: miss, skip or drop out of school, receive poor grades, have lower self-esteem, use alcohol and drugs.  Bullying can lead to thoughts about suicide, sometimes persisting into adulthood. In one study, adults who were bullied as youth were three times more likely to have suicidal thoughts or inclinations.

%h4
  EDUCATION DISPARITY
%p.charity
  Education is important. Few people would dispute this well regarded fact. A good education (in comparison with a bad one) will provide a child with an increased chance of taking advantage of opportunities to be successful in life. Unfortunately, some people have it better than others. Disparity in educational quality is delineated by race and financial status. If you live in a poor neighborhood or are a minority, there is a good chance that the schools you attend are lacking many necessities. While Asians and Whites enjoy high graduating rates, African American and Latinos continue to lag behind. Not surprisingly, because job opportunities are less for dropouts, these two groups have the highest incarceration rates.

%h4
  SHIFTING ECONOMY
%p.charity
  North America used to sustain itself with making its own products through manufacturing and then turning around and selling those products. The economy is shifting to more of a service industry versus a manufacturing industry. In order to cut costs and keep product prices down companies are forced to outsource manufacturing to other countries. Other countries can produce products at much lower labor costs. Not only is North America now having lower paying service jobs than the average blue-collar job with a sustainable income but our economy is now a global economy. For example, what happens in Japan or Iraq can drastically alter prices for our stock exchanges, gas/oil, and many other products. What exactly does this mean for our youth? The youth cannot graduate or even dropout of school without going through the pains of a low-income job. The jobs offered with no experience pay very little with very little room for pay increases. In fact, the competition to get a promotion can be fierce. In the past, your high school senior could graduate and go work at the local factory for the rest of his or her life and make a good living. They would not necessarily need to have a college education to survive. In fact, youth today will graduate from college with multiple degrees and still cannot find work that pays enough to sustain a decent lifestyle.


















